{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>

            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.html|safe }}
        </div>
        <footer>
            {% include 'includes/_partial/post/tags_bar.html' with tags=post.tags.all %}
            <div class="share">

            </div>
            {% if post.pass_date > 90 %}
                {% include 'includes/_partial/post/updated.html' with time=post.modified_time %}
            {% endif %}
            <div class="prev-and-next">
                <span class="prev">{% if prev %}<a href="{{ prev.get_absolute_url }}">{{ prev.title }}</a>{% else %}
                    没有上一篇了{% endif %}</span>
                <span class="next">{% if next %}<a href="{{ next.get_absolute_url }}">{{ next.title }}</a>{% else %}
                    没有下一篇了{% endif %}</span>
            </div>
        </footer>
    </article>
    {% include 'includes/_partial/post/comment.html' with identifier=post.identifier %}
{% endblock main %}
{% block toc %}
    {% include 'includes/_partial/post/toc.html' %}
{% endblock toc %}