{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>

            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.html|safe }}
        </div>
        <div class="row">
            {% include 'includes/_partial/post/tags_bar.html' with tags=post.tags.all %}
            <div class="share">

            </div>
            {% if post.pass_date > 90 %}
                {% include 'includes/_partial/post/updated.html' with time=post.modified_time %}
            {% endif %}

            <div class="prev-and-next col-md-12">
                <nav aria-label="...">
                    <ul class="pager">
                        {% if prev %}
                            <li class="previous"><a href="{{ prev.get_absolute_url }}">
                                <span aria-hidden="true"
                                      class="glyphicon glyphicon-chevron-left"></span>{{ prev.title }}
                            </a></li>
                        {% endif %}
                        {% if next %}
                            <li class="next"><a href="{{ next.get_absolute_url }}">{{ next.title }}
                                <span
                                        aria-hidden="true"
                                        class="glyphicon glyphicon-chevron-right"></span>
                            </a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </article>
    {% include 'includes/_partial/post/comment.html' with identifier=post.identifier %}
{% endblock main %}
{% block side %}
    {% include 'includes/_partial/post/toc.html' %}
{% endblock side %}
{% block footer %}
    {% load blog_tags %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% get_recent_posts as recent_post_list %}
                {% include 'includes/recent_post.html' with recent_post_list=recent_post_list %}
            </div>
            <div class="col-md-4">
                {% archives as date_list %}
                {% include 'includes/archives.html' with date_list=date_list %}
            </div>
            <div class="col-md-4">
                {% get_tags as tag_list %}
                {% include 'includes/tags.html' with tag_list=tag_list %}
            </div>
        </div>
    </div>
{% endblock footer %}
{% block script %}
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function () {
        $('body').scrollspy({
            target: '#sidebar'
        });
    });//]]>
    </script>
    <script>
        $(function () {
            $(window).scroll(function () {  //只要窗口滚动,就触发下面代码
                var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //获取滚动后的高度
                if (scrollt > 60) {  //判断滚动后高度超过200px,就显示
                    $("#blog-title").text('{{ post.title }}')
                } else {
                    $("#blog-title").text("EINDEX's Blog"); //如果返回或者没有超过,就淡出.必须加上stop()停止之前动画,否则会出现闪动
                }
            });
        });
        var toc = $('#toc')
        toc.children('div').addClass('bs-docs-sidebar hidden-print')
        {#        $('#toc').children('div').addClass('nav nav-stacked bs-docs-sidenav fixed fixed')#}
        var uls = toc.find('ul')
        for (var i = 0; i < uls.length; i++) {
            uls[i].id = 'sidebar'
        }
        uls.addClass('nav nav-stacked')
        toc.children('div').children('ul').addClass('bs-docs-sidenav fixed')
    </script>
{% endblock %}