{% extends 'base.html' %}
{% load blog_tags %}
{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
        {% include 'includes/_partial/post/index-item.html' with post=post %}
    {% empty %}
        <div class="no-post">暂时还没有发布文章！</div>
    {% endfor %}

    {% if is_paginated %}
        {% include 'includes/_partial/paginator.html' with paginator=paginator %}
    {% endif %}
{% endblock main %}
{% block side %}
    {% get_recent_posts as recent_post_list %}
    {% include 'includes/recent_post.html' with recent_post_list=recent_post_list %}
    {% archives as date_list %}
    {% include 'includes/archives.html' with date_list=date_list %}
    {% get_tags as tag_list %}
    {% include 'includes/tags.html' with tag_list=tag_list %}
    <div class="rss">
        <a href="{% url 'blog:rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
{% endblock side %}