{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
{% include 'includes/_partial/head.html' %}
<body>
<div class="container">
    {% include 'includes/_partial/header.html' %}
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock %}
                {% block side %}
                    {% get_recent_posts as recent_post_list %}
                    {% include 'includes/recent_post.html' with recent_post_list=recent_post_list %}
                    {% archives as date_list %}
                    {% include 'includes/archives.html' with date_list=date_list %}
                    {% get_tags as tag_list %}
                    {% include 'includes/tags.html' with tag_list=tag_list %}
                    <div class="rss">
                        <a href="{% url 'blog:rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                {% endblock side %}
            </aside>
        </div>
    </div>
</div>
{% include 'includes/_partial/footer.html' %}

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url "blog:index" %}">首页</a></li>
        </ul>
    </nav>
</div>
<script id="dsq-count-scr" src="//eindex-blog.disqus.com/count.js" async></script>
</body>
<script src="{% static 'blog/js/script.js' %}"></script>
{% include 'includes/_partial/plugins/google_anaytics.html' %}
{% include 'includes/_partial/plugins/baidu_push.html' %}

</html>
